<h2>All tasks</h2>

<ul style="list-style-type:none">
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <i class="fas fa-check-square"></i>
      <% else %>
        <i class="fas fa-square"></i>
      <% end %>
      <%= link_to task.title, task_path(task.id) %>
      <%= task.completed %>
      <%= link_to task_path(task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a task", new_task_path %>
